body {
  font-family: sans-serif;
}

.cover {
  display: flex;
  justify-content: center;
}

nav img {
  width: 80px;
  height: 80px;
  border-radius: 80px;
  margin: 0px 30px;
}

nav p {
  margin: 0;
  text-align: center;
}

.intro-banner {
  width: 100%;
}

.collection {
  display: flex;
  justify-content: space-evenly;
}

.collection img {
  width: 650px;
  height: 600px;
}
